<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iptoday.iumeng">
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"
        tools:node="remove" />
    <application>
        <receiver android:name="com.taobao.accs.EventReceiver">
            <!--低版本机型自启动相关可删除-->
            <intent-filter tools:node="remove">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter tools:node="remove">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter tools:node="remove">
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.taobao.agoo.AgooCommondReceiver">
            <!--低版本机型自启动相关可删除-->
            <intent-filter tools:node="remove">
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
